<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <h3>Kalkulator BMI</h3>
        <div id="bmi">
            <form>
                <label>Wzrost:</label>
                <input type="number" v-model="wzrost">
                <label>Waga:</label>
                <input type="number" v-model="waga">
            </form>
        </div>
        <p>BMI: {{calcbmi}}</p>

    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    wzrost: 175.0,
                    waga: 70.0,
                }
            },
            computed: {
                calcbmi: function() {
                    bmi = this.waga / ((this.wzrost/100)^2)
                    return bmi
                }
            }
        }) .mount('#app')
    </script>
</body>
</html>